@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}
:root{
    --strongcyan: hsl(172, 67%, 45%);
    --darkcyan: hsl(183, 100%, 15%);
    --darkgcyan: hsl(186, 14%, 43%);
    --grayishcyan: hsl(184, 14%, 56%);
    --lightgcyan: hsl(185, 41%, 84%);
    --verylightgcyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--strongcyan);
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: auto; 
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1.5rem;
}
section.dados{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: brown;
    padding: 2rem;
    border-radius: 1.5rem;
    color: var(--grayishcyan);
}
section.dados label{
    margin: 0.5rem;
}
section.dados input{
    background-color: var(--lightgcyan);
    border: none;
    border-radius: 0.2rem;
    padding-left: 1rem;
}
input::-webkit-outner-spin-button, input::-webkit-inner-spin-button { /*Tira o spiner do input */
    -webkit-appearance: none;
    margin: 0;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#acoVerif, #compVerif, #largVerif, #espVerif, #diamVerif{
    font-size: 0.5rem;
    text-align: right;
    color: red;
}
section.dados button, section.resultado button{
    border: none;
    height: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color:var(--darkgcyan);
    color: var(--darkcyan);
    cursor: pointer;
}
section.dados button:focus, section.resultado button:focus{
    background-color:var(--strongcyan);
    color: var(--darkcyan);
}
section.resultado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    background-color: var(--darkcyan);
    padding: 1.5rem;
    border-radius: 1.5rem;
}
section.resultado #txt-res{
    display: flex;
    color: var(--lightgcyan);
}
section.resultado #nome-var p{
    width: 70%;
    margin-bottom: 1rem;
}
section.resultado #res p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: right;
    color: var(--strongcyan);
}
section.resultado button{
    margin-top: 9.5rem;
}

@media (max-width: 958px){
    section.resultado #res #esp-bar-lig{
        margin-top: 1rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 0.6rem;
    }
}
@media (max-width: 922px){
    section.resultado #res #comp-bar-lig{
        margin-top: 2rem;
    }
}
@media (max-width: 830px){
    section.resultado #res #esp-bar-lig{
        margin-top: 1.5rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 4rem;
    }
}
@media (max-width: 842px){
    section.resultado #res #esp-bar-lig{
        margin-top: 2rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 3.5rem;
    }
}
@media (max-width: 760px){
    main{
        flex-direction: column;
        height: auto;
    }
    section.dados, section.resultado{
        width: 100%;
        height: auto;
        justify-content: space-between;
    }
    section.resultado #res #esp-bar-lig{
        margin-top: -0.5rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 0rem;
    }
}
@media (max-width: 520px){
    body{
        background-color: var(--white);
    }
}
@media (max-width: 474px){
    section.resultado #res #esp-bar-lig{
        margin-top: 1rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 2rem;
    }
}
@media (max-width: 437px){
    section.resultado #res #esp-bar-lig{
        margin-top: 2.5rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 3rem;
    }
}
@media (max-width: 414px){
    section.resultado #res #esp-bar-lig{
        margin-top: 3rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 3rem;
    }
}
@media (max-width: 367px){
    section.resultado #res #esp-bar-lig{
        margin-top: 4rem;
    }
    section.resultado #res #comp-bar-lig{
        margin-top: 3rem;
    }
}
